@import "variables.scss";

@import "media-queries.scss";

@import "typography.scss";

@import "tabs.scss";

@import "lists.scss";

@import "common.scss";

@import "backgrounds.scss";

@import "templates/navigation.scss";

@import "templates/hero-area.scss";

@import "templates/category-slider.scss";

@import "templates/user-dashboard.scss";

@import "templates/homepage.scss";

@import "templates/category.scss";

@import "templates/products.scss";

@import "templates/widgets.scss";

@import "templates/header.scss";

@import "templates/call-to-action.scss";

@import "templates/store.scss";

@import "templates/store-single.scss";

@import "templates/blog.scss";

@import "templates/popup.scss";

@import "templates/ad-listing.scss";

@import "templates/ad-list-view.scss";

@import "templates/terms-condition.scss";

@import "templates/package.scss";

@import "templates/about-us.scss";

@import "templates/contact-us.scss";

@import "templates/404.scss";

@import "templates/footer.scss";

@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@500&display=swap');

body {
  line-height: 1.5;
  font-family: "Muli", sans-serif;
  font-family: 'Athiti', sans-serif;
}

.img-config {
  width: 100%;
  height: 180px;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}


.tf-tree {
  font-size: 16px;
  overflow: auto
}

.tf-tree * {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

.tf-tree ul {
  display: inline-flex
}

.tf-tree li {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 1em;
  position: relative
}

.tf-tree li ul {
  margin: 2em 0
}

.tf-tree li li:before {
  border-top: .0625em solid #000;
  content: "";
  display: block;
  height: .0625em;
  left: -.03125em;
  position: absolute;
  top: -1.03125em;
  width: 100%
}

.tf-tree li li:first-child:before {
  left: calc(50% - .03125em);
  max-width: calc(50% + .0625em)
}

.tf-tree li li:last-child:before {
  left: auto;
  max-width: calc(50% + .0625em);
  right: calc(50% - .03125em)
}

.tf-tree li li:only-child:before {
  display: none
}

.tf-tree li li:only-child>.tf-nc:before,
.tf-tree li li:only-child>.tf-node-content:before {
  height: 1.0625em;
  top: -1.0625em
}

.tf-tree .tf-nc,
.tf-tree .tf-node-content {

  display: inline-block;
  padding: .5em 1em;
  position: relative
}

.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:before {
  top: -1.03125em
}

.tf-tree .tf-nc:after,
.tf-tree .tf-nc:before,
.tf-tree .tf-node-content:after,
.tf-tree .tf-node-content:before {
  border-left: .0625em solid #000;
  content: "";
  display: block;
  height: 1em;
  left: calc(50% - .03125em);
  position: absolute;
  width: .0625em
}

.tf-tree .tf-nc:after,
.tf-tree .tf-node-content:after {
  top: calc(100% + .03125em)
}

.tf-tree .tf-nc:only-child:after,
.tf-tree .tf-node-content:only-child:after,
.tf-tree>ul>li>.tf-nc:before,
.tf-tree>ul>li>.tf-node-content:before {
  display: none
}

.tf-tree.tf-gap-sm li {
  padding: 0 .6em
}

.tf-tree.tf-gap-sm li>.tf-nc:before,
.tf-tree.tf-gap-sm li>.tf-node-content:before {
  height: .6em;
  top: -.6em
}

.tf-tree.tf-gap-sm li>.tf-nc:after,
.tf-tree.tf-gap-sm li>.tf-node-content:after {
  height: .6em
}

.tf-tree.tf-gap-sm li ul {
  margin: 1.2em 0
}

.tf-tree.tf-gap-sm li li:before {
  top: -.63125em
}

.tf-tree.tf-gap-sm li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-sm li li:only-child>.tf-node-content:before {
  height: .6625em;
  top: -.6625em
}

.tf-tree.tf-gap-lg li {
  padding: 0 1.5em
}

.tf-tree.tf-gap-lg li>.tf-nc:before,
.tf-tree.tf-gap-lg li>.tf-node-content:before {
  height: 1.5em;
  top: -1.5em
}

.tf-tree.tf-gap-lg li>.tf-nc:after,
.tf-tree.tf-gap-lg li>.tf-node-content:after {
  height: 1.5em
}

.tf-tree.tf-gap-lg li ul {
  margin: 3em 0
}

.tf-tree.tf-gap-lg li li:before {
  top: -1.53125em
}

.tf-tree.tf-gap-lg li li:only-child>.tf-nc:before,
.tf-tree.tf-gap-lg li li:only-child>.tf-node-content:before {
  height: 1.5625em;
  top: -1.5625em
}

.tf-tree li.tf-dotted-children .tf-nc:after,
.tf-tree li.tf-dotted-children .tf-nc:before,
.tf-tree li.tf-dotted-children .tf-node-content:after,
.tf-tree li.tf-dotted-children .tf-node-content:before {
  border-left-style: dotted
}

.tf-tree li.tf-dotted-children li:before {
  border-top-style: dotted
}

.tf-tree li.tf-dotted-children>.tf-nc:before,
.tf-tree li.tf-dotted-children>.tf-node-content:before {
  border-left-style: solid
}

.tf-tree li.tf-dashed-children .tf-nc:after,
.tf-tree li.tf-dashed-children .tf-nc:before,
.tf-tree li.tf-dashed-children .tf-node-content:after,
.tf-tree li.tf-dashed-children .tf-node-content:before {
  border-left-style: dashed
}

.tf-tree li.tf-dashed-children li:before {
  border-top-style: dashed
}

.tf-tree li.tf-dashed-children>.tf-nc:before,
.tf-tree li.tf-dashed-children>.tf-node-content:before {
  border-left-style: solid
}


