<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<nav class="navbar navbar-expand-lg navbar-light navigation">
					<a class="navbar-brand" href="index.html">

					</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto main-nav ">
							<li class="nav-item  ">
                <a href="index.html"><button type="button" class="btn btn-outline-dark button-nav-confiig" >วัวขึ้นทะเบียนวันนี้</button></a>

							</li>




              <li class="nav-item  ">
               <a href="category.html"> <button type="button" class="btn btn-outline-dark button-nav-confiig " >รายการแจ้งขายวัว</button></a>
							</li>
              <!-- <li class="nav-item  active">
								<a class="nav-link" href="../index.html"></a>
							</li> -->
              <li class="nav-item  ">
                <a href="index2.html"><button type="button" class="btn btn-outline-dark button-nav-confiig">ต่ออายุประวัติวัว</button></a>
							</li>
              <li class="nav-item  ">
                <a href="ad-regist.html"><button type="button" class="btn btn-outline-dark button-nav-confiig" href="">สมัครสมาชิก</button></a>
							</li>



						<ul class="navbar-nav ml-auto mt-10">
							<li class="nav-item ">
                <a href="login.html"><button type="button" class="btn btn-outline-dark button-nav-confiig" >แจ้งเปลี่ยนผู้ถือกรรมสิทธิ์</button></a>

							</li>
							<li class="nav-item ">
                <a href="ad-listing.html"><button type="button" class="btn btn-success" ><i class="fa fa-plus-circle"></i> ลงทะเบียนวัวควาย</button></a>

							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
